// 色
$base_color:#333;

// フォント

// レイアウト
$inner-width: 1100px; // インナー幅サイズ
$sp-width: 768px; // スマホサイズ

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$sp-width - 1px})",
  // タブレット以下の場合
  "tab": "screen and (max-width: #{$inner-width - 1px})",
  // タブレット以上の場合
  "pc": "screen and (min-width: #{$inner-width})"
);